{% extends 'first_page_layout.html' %}

{% block content %}
<article style="margin-top:50px">
  <h1 style='font=200%;text-align:center;'>CinghioPinghio</h1>
  <svg width=300 height=300 style='margin-top:40px'>
     Sorry, your browser does not support inline SVG.
     <rect
         width=300
         height=300
         ry="29.320868"
         x="0"
         y="0"
         id="rect2985"
         style="fill:black;stroke:none" />
     <circle 
         cx=60% cy=60% r="100" 
         stroke=none fill=#880000 />
  </svg>
  Site under construnction
</article>
{% endblock %}
