//
// IMPORTS
//
@import "compass/reset";


//
// VARIABLES
//

// COLORS
$bg-d: #222222;
$bg: #272727;
$sbg: #1A1A1A;
$sbg-l: #1F1F1F;
$fg-d: #A6A6A6;
$fg: #D9D9D9;
$fg-l: #FFFFFF;
$hlt: #A6CA48;
$hlt-l: #E6DB74;
$pygments-fg: #F8F8F2;

// DIMENSIONS

//
// MIXINS
//

// CLEAR FIX

// VENDOR PREFIXES
